:root {
  --background-color: #f3f4f6;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../fonts/roboto-regular.woff2);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

h3 {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-flow: column wrap;
}

.forms-section {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.form-container {
  background-color: #fff;
}

input {
  border: none;
  min-width: 300px;
  height: auto;
  border-radius: 15px;
  background-color: #f3f4f6;
}

.form-container > form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.personal-info > div,
.education-date > div,
.experience-date > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.right-container {
  flex-flow: column wrap;
}
