:root {
  --background-color: #f3f4f6;
  --highlight-color: #15346d;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../fonts/roboto-regular.woff2);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

button {
  cursor: pointer;
  text-align: center;
  border-radius: 11px;
  padding: 15px;
  border: none;
  background: var(--highlight-color);
  color: #fff;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

input {
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
}

#root {
  display: flex;
  flex-flow: column wrap;
}

.main-content {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  gap: 1rem;
}

.forms-section {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
}

.form-container {
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
}

.personal-form,
.education-form,
.experience-form {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.form-button-container {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.personal-form > button,
.education-form > button,
.experience-form > button {
  display: flex;
  align-self: center;
  padding: 20px;
}

@media (min-width: 850px) {
  .main-content {
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 100vh;
  }

  .forms-section {
    min-width: 50vh;
  }

  .display-data {
    display: flex;
    flex-flow: column wrap;
    min-width: 50vw;
    justify-content: space-around;
  }
}
